/* BEGIN PS4 Controller Styling */

.controller.ds4 {
    position: relative;
    width: 1200px;
    height: 700px;
    background: url("https://kiby1845.github.io/Final/Disconnected.png") no-repeat;
    background-size: 1200px 700px;
}

.ds4.disconnected {
    position: relative;
    width: 1200px;
    height: 700px;
    background: url("https://kiby1845.github.io/Final/Disconnected.png") no-repeat;
    background-size: 1200px 700px;
}

/* TRIGGERS */
.ds4 .triggers {
    position: absolute;
    width: 598px;
    height: 90px;
    left: 301px;
    top: 36.5px;
}

.ds4 .trigger {
    width: 99px;
    height: 90px;
    background: url("https://kiby1845.github.io/Final/Trigger_Pressedmod.png") no-repeat;
    opacity: 0;
}

.ds4 .trigger.left {
    float: left;
}

.ds4 .trigger.right {
    float: right;
    background-position-x: 99px;
}

.ds4 .trigger.pressed {
    opacity: 1;
}

/* BUMPERS */
.ds4 .bumpers {
    position: absolute;
    width: 672px;
    height: 45px;
    left: 263px;
    top: 132px;
}

.ds4 .bumper {
    width: 200px;
    height: 45px;
    background: url("https://kiby1845.github.io/Final/Bumpermod.png") no-repeat;
    opacity: 0;
}

.ds4 .bumper.left {
    float: left;
}

.ds4 .bumper.right {
    float: right;
    transform: rotateY(180deg);
}

.ds4 .bumper.pressed {
    opacity: 1;
}

/* TOUCHPAD */
.ds4 .touchpad {
    position: absolute;
    width: 350px;
    height: 300px;
    left: 422px;
    top: 74px;
}

.ds4 .touchpad.pressed {
    background: url("https://kiby1845.github.io/Final/Touchpadmod.png") no-repeat center;
    background-size: contain;
}

/* HOME / PS BUTTON */
.ds4 .meta {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 546px;
    bottom: 264px;
}

.ds4 .meta.pressed {
    background: url("https://kiby1845.github.io/Final/Homemod.png") no-repeat center;
    background-size: contain;
    left: 550px;
}

/* PLAYER LEDS / MISC */
.ds4 .p0 { background-position: 0 -6px; }
.ds4 .p1 { background-position: 0 -28px; }
.ds4 .p2 { background-position: 0 -49px; }
.ds4 .p3 { background-position: 0 -70px; }

/* SHARE / OPTIONS */
.ds4 .arrows {
    position: absolute;
    width: 352px;
    height: 46px;
    top: 142px;
    left: 227px;
}

.ds4 .back,
.ds4 .start {
    width: 26px;
    height: 43px;
    background: url("https://kiby1845.github.io/Final/Selectmod.png") no-repeat;
    opacity: 0;
}

.ds4 .back {
    position: absolute;
    left: 170px;
    bottom: -30px;
    float: left;
}

.ds4 .start {
    position: absolute;
    left: 546px;
    bottom: -30px;
    float: right;
    background-position: 0 0;
}

.ds4 .back.pressed,
.ds4 .start.pressed {
    opacity: 1;
}

/* FACE BUTTONS */
.ds4 .abxy {
    position: absolute;
    width: 170px;
    height: 171px;
    top: 200px;
    left: 762px;
}

.ds4 .button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: url("https://kiby1845.github.io/Final/FaceButtonsmod.png") no-repeat;
}

.ds4 .button.pressed {
    background-position-y: 55px;
}

.ds4 .a {
    left: 58px;
    bottom: 0;
    background-position: 0 0;
}

.ds4 .b {
    top: 57px;
    right: -3px;
    background-position: -57px 0;
}

.ds4 .x {
    top: 57px;
    left: 0;
    background-position: -113px 0;
}

.ds4 .y {
    left: 58px;
    bottom: 119px;
    background-position: 55px 0;
}

/* STICKS */
.ds4 .sticks {
    position: absolute;
    width: 364px;
    height: 105px;
    top: 348px;
    left: 422px;
}

.ds4 .stick {
    position: absolute;
    width: 94px;
    height: 94px;
    background: url("https://kiby1845.github.io/Final/Sticksmod.png") no-repeat;
}

.ds4 .stick.left {
    top: 0;
    left: 0;
}

.ds4 .stick.right {
    top: 0;
    left: 259px;
}

.ds4 .stick.pressed.left {
    background-position-x: -96px;
}

.ds4 .stick.pressed.right {
    background-position-x: -192px;
}

/* DPAD */
.ds4 .dpad {
    position: absolute;
    width: 125px;
    height: 126px;
    top: 220px;
    left: 286px;
}

.ds4 .face {
    position: absolute;
    background: url("https://kiby1845.github.io/Final/Dpadmod.png") no-repeat;
}

.ds4 .face.up,
.ds4 .face.down {
    width: 37px;
    height: 52px;
}

.ds4 .face.left,
.ds4 .face.right {
    width: 52px;
    height: 40px;
}

.ds4 .face.up {
    top: 0;
    left: 44px;
    background-position: -37px 0;
}

.ds4 .face.down {
    left: 44px;
    bottom: 0;
    background-position: 0 0;
}

.ds4 .face.left {
    top: 45px;
    left: 0;
    background-position: 104px 0;
}

.ds4 .face.right {
    top: 45px;
    right: 0;
    background-position: 52px 0;
}

.ds4 .face.pressed {
    background-position-y: 52px;
}

.ds4.half {
    margin-top: -300px;
}

/* WHITE VARIANT */
.ds4.white .back,
.ds4.white .start {
    background-image: url("https://kiby1845.github.io/Final/Startmod.png");
    width: 26px;
    height: 43px;
}

/* END PS4 Controller Styling */
